*{margin:0;padding:0;border:0;box-sizing:inherit;text-align:inherit;font-family:inherit;font-size:inherit;outline:none;}
html{background:#f1f1f1;}
body{margin:auto;width:640px;max-width:100%;box-sizing:border-box;font-size:16px;text-align:justify;word-break:break-word;font-family:"Helvetica Neue",Helvetica,"Microsoft Yahei",Arial,"sans-serif";}
.head-nav{list-style:none;overflow:hidden;
    li{float:right;height:60px;width:60px;cursor:pointer;line-height:60px;vertical-align:middle;text-align:center;}
}
.articles-list-section{background:rgba(255,255,255,0.4);
    ul{list-style:none;}
}