*{margin:0;padding:0;border:0;box-sizing:inherit;text-align:inherit;font-family:inherit;font-size:inherit;outline:none;}
html{background:#f1f1f1;}
body{margin:auto;width:640px;max-width:100%;box-sizing:border-box;font-size:16px;text-align:justify;word-break:break-word;font-family:"Helvetica Neue",Helvetica,"Microsoft Yahei",Arial,"sans-serif";}
.head-nav-section{list-style:none;overflow:hidden;
    li{float:right;height:60px;width:60px;cursor:pointer;line-height:60px;vertical-align:middle;text-align:center;}
}
.articles-list-section{background:rgba(255,255,255,0.4);
    ul{list-style:none;}
}
.notfound-section{
    h1{font-size:120px;text-align:center;font-weight:lighter;}
}
.login-section{
    form{text-align:center;
        p{margin-top:50px;
            label{width:80px;display:inline-block;text-align:left;}
            input,.long-btn{margin-left:10px;min-width:200px;height:30px;line-height:30px;}
            input{text-align:left;padding:0 5px;}
            .long-btn{background:#ccc;display:inline-block;cursor:pointer;}
        }
    }
}